<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sh.mobile.gangmoonso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gms_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gms_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sh.mobile.gangmoonso.Main2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sh.mobile.gangmoonso.Menu_Festivalinformation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Menu_Cultureinformation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Menu_Booksinformation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Menu_Artinformation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Art"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Art_two"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sh.mobile.gangmoonso.Culture"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.sh.mobile.gangmoonso.Festival_three"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Festival_two"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Festival"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library1"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library3"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library4"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library5"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library6"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library7"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library8"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library9"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library10"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library11"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library12"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library13"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library14"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.sh.mobile.gangmoonso.Library15"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>